<div class="card">

  <div class="card-block">
    <div class="card-title">
      <h3><%= photo.username %></h3>
      <p class="card-text"><%= photo.caption %></p>
    </div>
    <div class="card-body">
      <img class="card-img-top" src=<%= photo.url %> alt="Card image cap">
    </div>
    <div class="card-footer">
      <p class="card-text"><%= photo.comment %></p>
    </div>

  </div>
</div>
